@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* --primary-color: #ff7613; */
    --primary-color: #fff;
    --secondary-color: #000106;
    --text-color: #727171;
    
   
}
/* .dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
    --text-color: #727171;
} */

html{
    font-size: 10px;
}


body{
    font-family: Inter, sans-serif;
    /* background-color: black; */
    background:#464646;
    /* color: var(--secondary-color); */
}

/*header starts here */

#hamburger-icon{
    margin: auto 0;
    display: none;
    cursor:pointer
}


.sidenav {
    display: flex;
    position: fixed;
    height: 100rem;
    width: 0;
   
    top: 0;
    left: 0;
   
    z-index: 1;
    overflow-x: hidden;
  }

  
  .sidenav .menugroup1{
    width: 200px;
    height: 100%;

    background-color: transparent;
    backdrop-filter: blur(20px);
    
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f5f5f5;
    display: block;
    transition: 0s;
  }
  
  .sidenav a:hover {
    color: #fcfc9c;
  }
  
  .sidenav .closebtn {
    position: fixed;
    top: 10px;
    font-size: 15px;
    margin: 0px;
  }
  .sidenav .menugroup2{    
    /* for  blur part of side menu */
    width: 0px;
    
  }
  .sidenav .closebtn2 {
    position: absolute;
    top: 0px;
    margin: 0px;
    padding: 100%;
    backdrop-filter: blur(5px);
  }

  

header a{
    text-decoration: none;
    font-size: 15px;
}
header{
    padding: 0 20px;
    background-color: rgb(27, 26, 26);
    height: 50px;
    display: flex;
    
}

#brand{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 20px;

}
#brand .logo{
    color: rgb(253, 248, 162);
    font-size: 30px;
}

#brand a{
    display: flex;
}
#brand .logotxt{
    color: rgb(255, 255, 255);
}

ul{
    list-style: none;
    position: absolute;
    right:12rem ;
    display: flex;
    top: 12px;
    justify-content: space-around;

}
ul a{
    color: #f5f5f5;
}

ul li{
    padding: 5px;
    margin-right: 10px;
}
ul a:hover, li:hover{
    color: #fffa9f;
    transform: scale(1.1) ;
    
    transition: 0.3s;
}

.btn{
    position:absolute;
    right:10px;
    top: 13px;
    border: none;
    background-color: #626262;
    border-radius:10px;
    padding:0.1rem 1.3rem;
    font-size:1rem;
    cursor:pointer;
    color: #fbfd99;
}


@media only screen and ( max-width:700px){
    header nav {
        display:none;
    }
    #hamburger-icon{
        display: block;
    }
}

/*header ends*/



 /* .imageIcon{
    position:absolute;
    right: 10px;
} */
/* common style */
/* img{
    width: 100%;
} */
.profile{
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: #626262;
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #d1d1d1;
}

/*mw-top Starts */


#mw-top {
    padding: 0;
    margin: 0 0 40px 0;
    position: relative;
    z-index: 3;
  }
  .container {
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
    width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }
  
  
  
  #mw-top .mwt-content {

    position: relative;
    padding: 200px 90px;
   

    /* margin-right: 100px; */
    background-color: rgb(251, 236, 148);
    border-radius: 40px;
  }

 
  
  #mw-top .mwt-content .mwt-icon {
    position: absolute;
    display: block;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 60%;   
    border-radius: 0 40px 40px 0;
    overflow: hidden;
  }
  #mw-top .mwt-content .mwt-icon::before {
    content: "";
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: rgb(43, 42, 60);
    background: linear-gradient(90deg, rgb(253, 239, 149) 0%, rgba(43, 42, 60, 0) 100%);
  }
  #mw-top .mwt-content .mwt-icon img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    object-fit: cover;
    /* opacity: .5; */
  }
  
  
  /* @media screen and (max-width:1199px) {
    #mw-top .mwt-content {
      padding: 60px;
  }
  }
  @media screen and (max-width:1365px) {
    #mw-top .mwt-content {
    margin: 0;
  }
  } */

  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  #mw-top .mwh-logo {
    margin-bottom: 30px;
  }
  #mw-top .mwh-logo .mwh-logo-div {
    height: 40px;
    width: auto;
  }
  
  a {
    outline: none;
    -moz-outline: none;
    color: #aaa;
    text-decoration: none;
  background-color: transparent;
  }
  
  #xsearch.home-search {
    display: block !important;
    margin: 0;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    background: none !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    font-size: large;
    /* max-width: 500px; */
    z-index: 3;
}
/* *, ::after, ::before {
    box-sizing: border-box;
} */
/* user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
} */
  /* button */

  #action-button .btn {
    display: block;
    border-radius: 12px;
    padding: 15px 20px;
    font-weight: 600;
    background: #fdfc9e !important;
    color: #111 !important;
    border: none !important;
    box-shadow: none !important;
    max-width: 260px;
}
.btn-radius {
    border-radius: 30px;
}
button, .btn {
    border: none !important;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media only screen and (max-width:1200px) {
    
  #mw-top .mwt-content{
    padding: 150px 40px;
  }
  
}

  @media only screen and (max-width:900px) {
    
      #mw-top .mwt-content{
        padding: 100px 40px;
      }
      
    }
    @media only screen and (max-width:600px) {
      #mw-top .mwt-content .mwt-icon img{
            display: none;
        }
        #mw-top .mwt-content{
          padding: 50px;
        }
        #action-button .btn{
            background: #ffffff !important;
        }
        
      }
/* mw-top Ends */




   
    
/* .homelargebtn {
    text-align: center;
    font: 15px sans-serif;
    color:white;
    border: 2px solid  #ffffff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

} */
 .largebtn{
    font-size: large;
    font-weight: bold;
    background:  #ffff;
    border-radius: 10px;
    padding: 10px 30px ;

}

.title{
    color: #fcfc8d;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.item_preTitle{
     font-size: 1.4rem;
     color: #ffffff;
     font-weight: 300;
}
.item_title{
    font-size: 1.6rem;
    color: white;
    margin: 0.8rem 0;
}
.item_subtitle{
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 400;
}
#icon{
    width: 30px;
    cursor: pointer;
    /* max-width: 700px; */
    margin: 0 auto;
    /* padding: 1rem; */
    /* grid-column: ; */
    /* display: grid; */
    flex-direction: row;
    gap: 1rem;
}
/* layouts */
.mw-xmain {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    /* background: #070707; */
    background:#464646;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and(max-width: 768px){
    .mw-xmain{ 
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
.group-1, .group-2{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.group-3{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.group-3 > div{
    flex: 1;
}
@media only screen and (max-width: 786px){
    .profile{
        margin-bottom: 0;
    }
    .group-3{
        flex-direction: column;
        /* margin:5%  10%; */
        padding: 5rem;
        
    }
}
/* profile */

.profile_container{
    display: flex;
    gap: 2rem;
}
.profile_profileImg{
    max-width: 250px;  /* photo ka size */
}

.profile_name{
    display: flex;
}
.profile_name_firstname{
    color: #fbf58b;
    font-weight: 700;
    font-size: clamp(2.5rem, 5vw, 7rem);
    display: block;
}
.profile_name_lastname{
    color: #ffffff;
    font-weight: 400;
    font-size: clamp(2.5rem, 5vw, 7rem);  /* phone k hisaab se photo or words change ho skte h */
    display: block;
    margin-bottom: 1rem;
}
.profile_title{
    font-size: 1.6rem;
    font-weight:bold;
    color: white;
    /* margin-bottom: 0.10rem; */
}
.downloadBtn{
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.downloadBtn:hover{
    color: #fff98d;
}
@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;
    }
}
/* Experties */
.title .skill_list{
    margin-top: 5rem;
    margin-left: 2rem;
    line-height: 2;
}

/* Reference */
.ref_name{
    margin-top: 2rem;
    color: white;
}
.ref_name{
    font-size: 1.6rem;
    font-weight: 700;
}

/* Education */
.edu_item{
    margin-top: 2rem;
}

/* certification */
.certification_item{
    margin-top: 2rem;
}

/* experience */
.exp_item{
    margin-top: 2rem;
}

/* award */
.award_item{
    margin-top: 2rem;
}

/* interest */
.interest_items{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.interest_item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5;
    color: var(--text-color);
}
.interest_item svg{
    width: 2rem;
}


/* .contact_info{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;

    /* /* margin-top: 1.5rem;
    font-size: 1.5rem; */
    /* display: flex;
    gap: 0.5rem;
    align-items: center; */
    /* justify-content: flex-start; */
    /* color: var(--text-color); */
/* }  */
/* socials */
.social_items{
    margin-top: 2rem;
}
.social_item{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    color: #ffff;
}
.social_item:hover{
    color: #faed89;
}

hr{
    grid-column: 1/-1;
    width:100%;
    margin: 0 auto;
    color: rgba(128, 128, 128, 0.265);
}

@media only screen and (max-width: 786px){
    hr{
        margin: 0 auto;
    }
}
